body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin: 0 auto;
  padding: 1.5rem;

  background-color: #f4f4f4;
}

.download-link {
    position: absolute;
    top: 20px;
    right: 20px;
}


nav {
    display: flex; 
    border-bottom: 1px solid #ccc; 
    margin-bottom: 2rem; 

    gap: 0.5rem;
}

nav a {
    flex: 1; 
    text-align: center; 
    
    padding: 0.75rem;
    text-decoration: none; 
    color: #625c5c; 

    border: 1px solid #ddd;
    border-radius: 5px;
}

nav a:hover {
    background-color: #b5aeae; 
}

nav a.current {
    font-weight: bold;
    background-color: #005a9c;
    color: white;
}